{
    "kibana_git": "{{kibana_git}}",
    "kibana_git_branch_or_tag": "{{ kibana_git_branch_or_tag }}",
    "kibana_git_clone_location": "{{ kibana_git_clone_location }}",
    "kibana_force_rebuild": "{{ kibana_force_rebuild }}",
    "kibana_location": "{{ kibana_location }}",
    "kibana_user": "{{ kibana_user }}",
    "kibana_elasticsearch_url": "{{ kibana_elasticsearch_url }}",
    "kibana_default_route": "{{ kibana_default_route }}",
    "kibana_index": "{{ kibana_index }}",
    "kibana_install_type": "{{ kibana_install_type }}",
    "kibana_vhost_name": "{{ kibana_vhost_name }}",
    "kibana_port": "{{ kibana_port }}"
}